---
import Layout from '../layouts/ProjectPost.astro';
---

<Layout
	title="Resume"
	description="My Professional Resume"
	pubDate={new Date()}
>
	<h2>Experience</h2>
	<p>
		Details of my professional experience will go here.
	</p>

	<h2>Education</h2>
	<p>
		My educational background.
	</p>
</Layout>
