---
import Layout from '../layouts/ProjectPost.astro';
import ResumeViewer from '../components/ResumeViewer.astro';

const resumeUrl = '/james_campbell_android_resume.pdf';
const previewUrl = 'https://docs.google.com/gview?url=https://drive.google.com/uc?id=1J4UtFU7LwjpAhgkxyQ6TSx4zoplQ80LN&embedded=true';
---

<Layout
	title="Resume"
	description="My Professional Resume - James Campbell"
>
	<div class="resume-wrapper">
		<ResumeViewer resumeUrl={resumeUrl} previewUrl={previewUrl} />
	</div>
</Layout>

<style is:global>
	/* Override ProjectPost layout restrictions for the resume page */
	.prose:has(.resume-wrapper) {
		width: 100%;
		max-width: 1000px;
	}

	/* Hide the default title and divider for the resume page */
	.prose:has(.resume-wrapper) .title {
		display: none;
	}
</style>
